main{

    .cocinar-banner {
        .carousel{
            width: 500px;
        }
        
        width: 500px;
        display: flex;
        justify-content: center;
    }
}


section{

    h1{
        color: green;
    font-size: 29px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px;

    }

    p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: small;
      text-align: center;
      margin-bottom: 30px;
    }

    .conteiner-imagenes{


        width: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img{
            width: 200px;
            margin: 5px;
        }

        img{
            width: 200px;
            margin: 5px;
        }

        img{
            width: 200px;
            margin: 5px;
        }
    }
}

section{
    
    margin: 50px;

    h2{
        @extend h1;
    }

    p{
        @extend p;
            
    }

    .conteiner-imagenes2{


        width: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img{
            width: 200px;
            margin: 5px;
        }

        img{
            width: 200px;
            margin: 5px;
        }

        img{
            width: 200px;
            margin: 5px;
        }
    }
}


.conteiner-section{

    background-color: orange;
    border-bottom: 15px;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 50px;

    h3{
        justify-content: center;
        text-align: center;
        span{
            color:white;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            justify-content: center;
        }
    }

    p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: small;
        text-align: center;
        margin-bottom: 30px;
    }

    div{
        display: flex;
        justify-content: center;
        text-align: center;

       .boton-recetas-rapidas{
        text-align: center;
        color: white;
        border: 1px solid white;
        padding: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: inline-block;
       justify-content: center;
       transition: 1s;
       text-decoration: none;

       //Transformacion
       transition: 1s;
       &:hover{
        transform: translate(-20px, 10px);
       }
            }

        .boton-recetas-rapidas{
            &:hover{
                background-color: beige;
                color: green;
            }
        }
    }
}
