main{    
    .conteiner-video{
        margin-bottom: 50px;
        margin-top: 50px;
        align-items: center;
        justify-content: center;

        .video-curso{
            width: 600px;
            align-items: center;
            justify-content: center;
        }

    }
}

section{
    div{
        img{
            width: 20rem;
        }
    }
}